@charset 'UTF-8';

body{
    font-family: 'Times New Roman', Times, serif;

}
table{
    width: 500px;
    border-collapse: collapse;
}
th{
    border: 1px solid black; 
}
td{
    border: 1px solid black;
    text-align: center;/* Alinhamento horizontal ''left, center, right'' */
    vertical-align: top;/* Alinhamento Vertical "Top, middle, botton */
}
thead, tfoot{
    background-color: gray;
    color: white;
}
td.num{
    text-align: right;
}